@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* Style for home page*/

.home{
  width: 100%;
  min-height: 100vh;
  position: relative;
  background: url(background.jpg);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2,1fr);
}
.text h1{
  font-size: 3.5rem;
  letter-spacing: 2px;
  position: absolute;
  top: 30px;
  left: 60px;
  right: 60px;
}
.text span{
  color: red;
}
.text p{
  margin: 00.5re, 0 1rem;
}
.form-container form{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  position: absolute;
  bottom: 4rem;
  left: 100px;
 
  background: transparent;
  padding:20px;
}
.input-box{
  flex: 1 1 7rem;
  display: flex;
  flex-direction: column;
}
.input-box span{
  font-weight: 500;
}
.input-box input{
  padding:17px;
  outline:none;
  border:none;
  background: rgba(255, 0, 0, 0.327);
  border-radius: 0.7rem;
  font-size: 1.1rem;
}
.form-container form .btn{
  flex: 2 2 7rem;
  padding: 20px 4px;
  border: none;
  border-radius: 0.5rem;
  background: rgba(255, 0, 0, 0.583);
  color:black;
  font-size: 1rem;
  font-weight: 500;
}
.form-container form .btn:hover{
  background: red;
}