@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* Style for assurance page*/

.menu {
  padding: 5rem 0;
}
.title {
  text-align: center;
  margin-bottom: 2rem;
}
.heading .paragraph{
  font-size: 1.2rem;
  margin-left: auto;
}
.item-info .paragraph{
  font-size: 1.2rem;
  margin-top: 0.3rem;
  margin-left: 1rem;
  margin-bottom: 0.3rem;
  margin-right: 1rem;
}
.section-center {
  width: 90vw;
  height: 56vw;
  margin: 0 auto;
  max-width: 1170px;
  gap: 3rem 2rem;
  justify-items: center;
  border: 2px solid black;
  border-radius: 2rem;
  margin-bottom: 2.3rem;
}
.menu-item {
   width:100%;
   height: 100%;
}

.item-info header {
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 1.9rem;
  border-top-right-radius: 1.9rem;
  background-color: rgba(255, 0, 0, 0.169);
  width: 100%;
  height: 50%;
  
}
.item-info header h3 {
  margin-top: 1.6rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
.item-info span{
  font-size: small;
}
.item-info a{
  color:black;
}
.item-info a:hover{
  color:rgba(215, 23, 23, 0.567);
}
.description {
  margin-bottom: 0;
  padding-top: 0.2rem;
  font-size: medium;
}

@media screen and (min-width: 608px) {
  .menu-item {
    width:100%;
    height: 100%;
  }
  .section-center {
    width: 90vw;
    height: 37vw;
  }
  .heading .paragraph{
    font-size: 1.2rem;
    margin-left: auto;
  }
}

@media screen and (min-width: 770px) {
  .section-center {
    width: 90vw;
    height: 30vw;
    max-width: 1170px;
    justify-items: center;
    border: 2px solid black;
    border-radius: 2rem;
    margin-bottom: 2.5rem;
  }
  .menu-item {
    width:100%;
    height: 100%;
  }
}
@media screen and (min-width: 900px) {
  .section-center {
    width: 90vw;
    height: 21vw;
    max-width: 1170px;
    justify-items: center;
    border: 2px solid black;
    border-radius: 2rem;
    margin-bottom: 2.5rem;
  }
  .menu-item {
    width:100%;
    height: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .section-center {
    width: 90vw;
    height: 14vw;
    max-width: 1170px;
    justify-items: center;
    border: 2px solid black;
    border-radius: 2rem;
    margin-bottom: 2.5rem;
  }
  .menu-item {
    width:100%;
    height: 100%;
  }
}
.heading p,h1{
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.heading p{
  font-size: 2rem;
}
